/* Copyright (c) 2021 Atheesh  Thirumalairajan */

body, html {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

@font-face {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Inter-Light.woff2?v=3.18") format("woff2"), url("fonts/Inter-Light.woff?v=3.18") format("woff");
}

@font-face {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Inter-Bold.woff2?v=3.18") format("woff2"), url("fonts/Inter-Bold.woff?v=3.18") format("woff");
}

@font-face {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-SemiBold.woff2?v=3.18") format("woff2"), url("fonts/Inter-SemiBold.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter Regular';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
       url("fonts/Inter-Regular.woff?v=3.18") format("woff");
}

.profile-picture {
    width: 30vh;
    border-radius: 0.6vw;
}

.profile-name {
    font-family: "Inter Bold";
    font-size: 6vh;
    margin-top: 2vh;
    margin-bottom: 0px;
    color: white;
}

.profile-username {
    font-family: "Inter Light";
    font-size: 2.5vh;
    margin-bottom: 0px;
    color: white;
    opacity: 0.6;
}

.scroll-continue {
    position: absolute; 
    opacity: 0.6;
    bottom: 2vh;
    color: white;
}

.scroll-mouse {
    width: 5vh;
}

.scroll-text {
    font-family: "Inter SemiBold";
    font-size: 2vh;
    color: white;
}

.title {
    font-family: "Inter Bold";
    font-size: 6vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.body-text {
    font-family: "Inter Regular";
    font-size: 2.5vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.website-thumbnail {
    height: 6vh;
}

::-webkit-scrollbar {
  display: none;
}
